extends layout

block content
	.hero
		.info
			span Adopt List
			p The organized way to adopt pets in need.
			button
				a(href="/login") Get Started
		.triangle
	.steps
		.step-wrapper
			h2 HOW IT WORKS
			.step.step-1
				img(src="images/add-to-list.png")
				.info
					ul
						li 
							h3 Enter your ZIP code
							p asdjghsdkjhgfsdkfjhgskdjfg
						li
							h3 View pets in your area
							p saodkjfhsdfjsjdfg
						li
							h3 Save your favorites for later
							p Adding to list, removing from list, etc.
						li
							h3 Contact the shelter
							p lsdjkflsdaglkjljsdaf
		.step-wrapper.step-2-wrapper
			.cta
				h2 READY TO FIND YOUR FOREVER FRIEND?
				p Sign up for an account today and start browsing through available pets in your area.
				button
					a(href="/login") Get Started
				//- .info
				//- 	h2 2) REMOVE FROM LIST
				//- 	p Once you've sifted through all your local adoptables, it's time to start narrowing down! Go to your list and easily remove pets you want to narrow down.
				//- img(src="images/remove-from-list.png")
		.step-wrapper
			.step.step-3
				img(src="images/contact-shelter.png")
				.info
					h2 3) CONTACT YOUR SHELTER
					p When you've found your forever-friend, hover to see the shelter's contact details, and click to send them an email saying you're interested!