doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 
				a(href="/") Adopt List
			nav
				ul
					li
						a(alt="Browse" onclick="window.location.href = 'browse?auth_token=' + localStorage.getItem('authToken')" class="browse") Browse
					li
						a(alt="My List" onclick="window.location.href = 'my-list?auth_token=' + localStorage.getItem('authToken')" class="my-list") My List
					li
						a(href="/login" alt="Login" class="login") Login

			
		block content
		script(src='//code.jquery.com/jquery-3.2.1.min.js')
		script(src='/javascripts/global-client.js')
		block scripts
