doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Adopt List
			nav
				ul
					li
						a(href="/browse" alt="Browse") Browse
					li
						a(href="/" alt="My List") My List
					li
						a(href="/login" alt="Login") Login

			
		block content
