doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='/javascripts/client.js')
	body
		header
			h1 Adopt List
			nav
				ul
					li
						a(href="/browse" alt="Browse") Browse
					li
						a(href="/" alt="My List") My List
					li
						a(href="/" alt="Login") Login

			
		block content
