doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Adopt List
			nav
				ul
					li
						a(href="/browse" alt="Browse") Browse
					li
						a(alt="My List" onclick="window.location.href = 'my-list?auth_token=' + localStorage.getItem('authToken')") My List
					li
						a(href="/login" alt="Login") Login

			
		block content
		script(src='//code.jquery.com/jquery-3.2.1.min.js')
		block scripts
