extends layout

block content
	.login-form
		ul.tab-group
			li.tab.active
				a(href="#login") Log In
			li.tab
				a(href="#register") Register
		.tab-content
			#login
				h1 Welcome Back!
				form(method='POST' action='/login')
					.field-wrap
						label Email Address
						input(type="email" required)
					.field-wrap
						label Password
						input(type="password" required)
					button.submit Login
			#register
				h1 Register
				form(method='POST' action='/users')
					.top-row
						.field-wrap
							label First Name
							input(type="text" required)
						.field-wrap
							label Last Name
							input(type="text" required)
					.field-wrap
						label Email Address
						input(type="email" required name="username")
					.field-wrap
						label Password
						input(type="password" required name="password")
					button.submit Get Started
	script(src='//code.jquery.com/jquery-3.2.1.min.js')
	script(src="../javascripts/login-client.js")