extends layout

block content
	.login-form
		ul.tab-group
			li.tab.active
				a(href="#signup") Sign Up
			li.tab
				a(href="#login") Log In
		.tab-content
			#signup
				h1 Sign Up
				form(method='POST' action='/users')
					.top-row
						.field-wrap
							label First Name
							input(type="text" required)
						.field-wrap
							label Last Name
							input(type="text" required)
					.field-wrap
						label Email Address
						input(type="email" required)
					.field-wrap
						label Password
						input(type="password" required)
					button.submit Get Started
			#login
				h1 Welcome Back!
				form(method='POST' action='/login')
					.field-wrap
						label Email Address
						input(type="email" required)
					.field-wrap
						label Password
						input(type="password" required)
					button.submit Login