@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico|Ubuntu');

// VARIABLES
$main-font: 'Roboto', sans-serif;
$heading-font: 'Ubuntu', sans-serif;
$cursive-font: 'Pacifico', sans-serif;

* {
	box-sizing: border-box;
}

html {
	background: #ecefee;
	background: -webkit-linear-gradient(to right, #ACB6E5, #ecefee);;
	background: linear-gradient(to right, #ACB6E5, #ecefee);
}

body {
	margin: 0;
	font-size: 16px;
	font-family: $main-font;
}

h2 {
	margin: 0 0 20px 0;
	width: 80%;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
	color: #fff;
	font-weight: 400;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 8px 20px;
	box-shadow: 0 1px 4px rgba(0,0,0,.22);
	align-items: center;
	h1 {
		font-family: $cursive-font;
		margin: 0;
		a {
			color: black;
			text-decoration: none;
		}
	}
	nav {
		ul {
			display: flex;
			padding: 0;
			list-style-type: none;
			justify-content: space-between;
			li {
				margin: 0 15px;
			}
		}
	}
}

.overlay {
	background-color: rgba(0,0,0,0.2);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.wrapper {
	margin: 0 auto;
	padding: 20px 50px;
}

// LANDING PAGE

.hero {
	min-height: calc(100vh - 72px);
	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	position: relative;
	padding: 50px;
	background: linear-gradient(rgba(15%, 15%, 17%, 0.85), rgba(15%, 15%, 17%, 0.95)), url('../images/hero-background.jpg');
	background-size: cover;
	span {
		font-family: $cursive-font;
		position: relative;
		font-size: 50px;
		color: white;
	}
	p {
		color: white;
		width: 610px;
		font-family: 'Ubuntu';
		font-size: 60px;
		padding: 50px 0;
		border-top: 4px solid white;
		border-bottom: 4px solid white;
		text-transform: uppercase;
	}
	button {
		background-color: #FF1744;
		box-shadow: none;
		border: none;
		font-size: 22px;
		font-family: $heading-font;
		text-transform: uppercase;
		border-radius: 2px;
		transition: all 0.5s;
		a {
			display: block;
			color: white;
			text-decoration: none;
			padding: 15px 25px;
		}
		&:hover {
			background-color: #9c001e;
		}
	}
	.triangle {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background: linear-gradient(rgba(100%, 100%, 100%, 0.8), rgba(100%, 100%, 100%, 0.9)), url('../images/triangle-background.jpg');
		background-position: left;
		background-size: cover;
		-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}
}

// BROWSE & LIST PAGE

.adoptable-pets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.pet {
		position: relative;
		cursor: pointer;
		margin: 10px 0;
		width: 345px;
		max-width: 100%;
		transition: height 1s;
		box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3), 0 7px 7px 0 rgba(0, 0, 0, 0.05);
		&.clicked {
			position: fixed;
			cursor: auto;
			z-index: 999;
			width: 50%;
			height: 50%;
			top: 0;
			left: 25%;
			.photo {
				background-size: contain;
				background-color: rgb(68, 67, 67);
				width: 100%;
				height: 100%;
			}
			.name {
				top: 420px;
			}
			.description p {
				-webkit-line-clamp: inherit;
				line-height: 25px;
			}
		}
		.photo {
			position: relative;
			width: 345px;
			max-width: 100%;
			height: 175px;
			overflow: hidden;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			&:after {
				content: "";
				display: block;
				background-color: rgba(0,0,0,0.2);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		.name {
			position: absolute;
			color: #fff;
			font-size: 24px;
			text-overflow: ellipsis;
			top: 135px;
			padding: 0 15px;
		}
		.description {
 			padding: 15px;
 			background: white;
			p {
				overflow: hidden;
			  display: -webkit-box;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			}
		}
		.action {
			background: white;
			border-top: 1px solid #E0E0E0;
			display: flex;
			justify-content: space-between;
			padding: 15px;
			.add-to-list {
				color: green;
			}
			a {
				text-decoration: none;
				color: #FF1744;
				font-weight: bold;
			}
		}
	}
}

// LOGIN STYLES

.login-form {
	background: rgba(#13232f, .9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 5px;
	box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
	.tab-group {
		list-style: none;
		padding: 0;
		margin: 0 0 40px 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.tab { 
			a {
				display: block;
				text-decoration: none;
				padding: 15px;
				background: rgba(lightgrey, .25);
				color: lightgrey;
				font-size: 20px;
				float: left;
				width: 50%;
				text-align: center;
				cursor: pointer;
				transition: .5s ease;
				&:hover {
					background: #11775b;
					color: white;
				}
			}
			&.active a {
				background: #1ab188;
				color: white;
			}
		}
	}
	.tab-content {
		> div:last-child {
			display: none;
		}
		h1 {
			text-align: center;
			color: white;
			margin: 0 0 40px;
		}
		.top-row {
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			> div {
				float: left;
				width: 48%;
				margin-right: 4%;
				&:last-child {
					margin: 0;
				}
			}
		}
		.field-wrap {
			position: relative;
			margin-bottom: 40px;
			label {
				position: absolute;
				transform: translateY(6px);
				left: 13px;
				color: rgba(#ffffff, 0.5);
				transition: all 0.25s ease;
				-webkit-backface-visibility: hidden;
				pointer-events: none;
				font-size: 22px;
				&.active {
					transform: translateY(50px);
					left: 2px;
					font-size: 14px;
				}
				&.highlight {
					color: white;
				}
			}
			input {
				font-size: 22px;
				display: block;
				width: 100%;
				height: 100%;
				padding: 5px 10px;
				background: none;
				border: 1px solid lightgrey;
				color: white;
				transition: border-color .25s ease, box-shadow .25s ease;
				&:focus {
					outline: 0;
					border-color: green;
				}
			}
		}
		.submit {
		  border: 0;
		  outline: none;
		  border-radius: 0;
		  width: 100%;
		  cursor: pointer;
		  padding: 15px 0;
		  font-size: 2rem;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: .1em;
		  background: green;
		  color: white;
		  transition: all.5s ease;
		  -webkit-appearance: none;
		  &:hover, &:focus {
		    background: black;
		  }
		}
	}
}

.demo-account {
	background: rgba(20, 92, 127, 0.9);
	margin: 0 auto;
	max-width: 600px;
	padding: 10px 40px;
	border-radius: 5px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	color: white;
	font-size: 18px;
	p {
		text-align: center;
	}
}

.contact-shelter {
	position: relative;
}

.contact-shelter:hover {
  .tool-tip { 
    top: -70px;
    transition: all 0.6s cubic-bezier(1, 0, 0.4, 1.7);
    transform: translateX(-50%) scale(1); 
  }
}


.tool-tip {
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 999;
  width: 320px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 50%;
  border-radius: 3px;
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 50px;
  color: #FFF;
  text-align: center;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  
  &:after {
    width: 0; 
  	height: 0; 
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid #333;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
}



// MEDIA QUERIES

@media screen and (max-width: 769px) {
	header {
		flex-direction: column;
	}
	.hero {
		padding: 10px;
		max-height: calc(100vh - 123px);
		.info {
			span {
				margin: 0 auto;
			}
			p {
				font-size: 40px;
				width: 100%;
				text-align: center;
			}
		}
		button {
			text-align: center;
			margin: 0 auto;
		}
		.triangle {
			height: 20%;
		}
	}
	.wrapper {
		h2 {
			width: 100%;
			font-size: 30px;
		}
	}
	.adoptable-pets {
		.pet {
			&.clicked {
				width: 90%;
				left: 20px;
			}
		}
	}
	.login-wrapper {
		padding: 5px;
	}
}