@import url('https://fonts.googleapis.com/css?family=Roboto');

// VARIABLES
$heading-font: 'Roboto', sans-serif;

html {
	background-color: #00BCD4;
}

body {
	padding: 20px 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	nav {
		ul {
			display: flex;
			padding: 0;
			list-style-type: none;
			justify-content: space-between;
			li {
				margin-left: 30px;
			}
		}
	}
}

.adoptable-pets {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.pet {
		position: relative;
		margin: 10px;
		width: 345px;
		.photo {
			position: relative;
			width: 345px;
			height: 175px;
			overflow: hidden;
			img {
				min-width: 100%;
				min-height: 100%;
			}
			&:after {
				content: "";
				display: block;
				background-color: rgba(0,0,0,0.2);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		.name {
			position: absolute;
			font-family: $heading-font;
			color: #fff;
			font-size: 24px;
			text-overflow: ellipsis;
			top: 135px;
			padding: 0 15px;
		}
		.description {
 			padding: 15px;
 			background: white;
			p {
				overflow: hidden;
			  display: -webkit-box;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			}
		}
	}
}
