@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico');

// VARIABLES
$main-font: 'Roboto', sans-serif;
$cursive-font: 'Pacifico', sans-serif;

* {
	box-sizing: border-box;
}

html {
	background: #74ebd5;
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
	background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

body {
	margin: 0;
	font-size: 16px;
	font-family: $main-font;
}

h2 {
	margin: 0 0 20px 0;
	width: 80%;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
	color: #fff;
	font-weight: 400;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 8px 20px;
	box-shadow: 0 1px 4px rgba(0,0,0,.22);
	align-items: center;
	h1 {
		font-family: $cursive-font;
		margin: 0;
		a {
			color: black;
			text-decoration: none;
		}
	}
	nav {
		ul {
			display: flex;
			padding: 0;
			list-style-type: none;
			justify-content: space-between;
			li {
				margin-left: 30px;
			}
		}
	}
}

.wrapper {
	margin: 0 auto;
	padding: 20px 50px;
}

.adoptable-pets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.pet {
		position: relative;
		margin: 10px 0;
		width: 345px;
		box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3), 0 7px 7px 0 rgba(0, 0, 0, 0.05);
		.photo {
			position: relative;
			width: 345px;
			height: 175px;
			overflow: hidden;
			img {
				width: 100%;
			}
			&:after {
				content: "";
				display: block;
				background-color: rgba(0,0,0,0.2);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		.name {
			position: absolute;
			color: #fff;
			font-size: 24px;
			text-overflow: ellipsis;
			top: 135px;
			padding: 0 15px;
		}
		.description {
 			padding: 15px;
 			background: white;
			p {
				overflow: hidden;
			  display: -webkit-box;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			}
		}
		.action {
			background: white;
			border-top: 1px solid #E0E0E0;
			display: flex;
			justify-content: space-between;
			padding: 15px;
			a {
				text-decoration: none;
				color: #FF1744;
				font-weight: bold;
			}
		}
	}
}

// LOGIN STYLES

.login-form {
	background: rgba(#13232f, .9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 5px;
	box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
	.tab-group {
		list-style: none;
		padding: 0;
		margin: 0 0 40px 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.tab { 
			a {
				display: block;
				text-decoration: none;
				padding: 15px;
				background: rgba(lightgrey, .25);
				color: lightgrey;
				font-size: 20px;
				float: left;
				width: 50%;
				text-align: center;
				cursor: pointer;
				transition: .5s ease;
				&:hover {
					background: #11775b;
					color: white;
				}
			}
			&.active a {
				background: #1ab188;
				color: white;
			}
		}
	}
	.tab-content {
		> div:last-child {
			display: none;
		}
		h1 {
			text-align: center;
			color: white;
			margin: 0 0 40px;
		}
		.top-row {
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			> div {
				float: left;
				width: 48%;
				margin-right: 4%;
				&:last-child {
					margin: 0;
				}
			}
		}
		.field-wrap {
			position: relative;
			margin-bottom: 40px;
			label {
				position: absolute;
				transform: translateY(6px);
				left: 13px;
				color: rgba(#ffffff, 0.5);
				transition: all 0.25s ease;
				-webkit-backface-visibility: hidden;
				pointer-events: none;
				font-size: 22px;
				&.active {
					transform: translateY(50px);
					left: 2px;
					font-size: 14px;
				}
				&.highlight {
					color: white;
				}
			}
			input {
				font-size: 22px;
				display: block;
				width: 100%;
				height: 100%;
				padding: 5px 10px;
				background: none;
				border: 1px solid lightgrey;
				color: white;
				transition: border-color .25s ease, box-shadow .25s ease;
				&:focus {
					outline: 0;
					border-color: green;
				}
			}
		}
		.submit {
		  border: 0;
		  outline: none;
		  border-radius: 0;
		  width: 100%;
		  cursor: pointer;
		  padding: 15px 0;
		  font-size: 2rem;
		  font-weight: bold;
		  text-transform: uppercase;
		  letter-spacing: .1em;
		  background: green;
		  color: white;
		  transition: all.5s ease;
		  -webkit-appearance: none;
		  &:hover, &:focus {
		    background: black;
		  }
		}
	}
}
